@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.rooms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 45px;

}

.room {
    border: 2px solid dimgrey;
    padding: 15px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 390px;
    min-width: 390px;
    min-height: 500px;
    line-height: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.room img {
    width: 100%;
    max-height: 230px;
    object-fit: cover;
}

.room-name {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
    text-align: center;
    border-bottom: 3px solid var(--red);
    padding: 3px 0 10px;
}

.room-details {
    margin-top: 20px;
    border-bottom: 1px solid dimgrey;
    padding-bottom: 5px;
}

.room-table {
    width: 100%;
}

.room-table td {
    padding: 8px;
}

.room-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;

}

.bttn-book, .edit-btn {
    width: 100%;
    height: auto;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
}

.bttn-book:hover {
    background: white;
    color: #13a604;
}

.div-edit-del {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}

.delete-btn {
    padding: 20px 35px;
    border-radius: 10px;
    border: 3px solid dimgrey;
    text-decoration: none;
    color: var(--red);
}

.delete-btn {
    background: #EC4646;
    color: white;
}


.edit-btn:hover {
    background: white;
    color: #1687A7;
}

.delete-btn:hover {
    background: white;
    color: #EC4646;
}

/*.res-status-p {*/
/*    padding-top: 12px;*/
/*    border-top: 1px solid dimgrey;*/
/*}*/

.res-ava {
    width: 100%;
    height: auto;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    padding: 9px;
    margin-bottom: 15px;


}

.vacant {
    color: #be1818;
}

.available {
    color: rgba(34, 139, 34, 1);
}


@media screen and (max-width: 700px) {

    .room {
        flex-direction: column;
    }

    .room-links {
        justify-content: normal;
        margin-left: 0;
    }
}