@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dosis:wght@600;800&family=Ephesis&display=swap');

:root {
    --red: #be1818
}

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    font-family: 'Dosis', sans-serif;
    /*max-width: 1150px;*/
    margin: 10px auto;
    font-size: 1.1rem;
    letter-spacing: 0.6px;
    padding: 0 33px;
}

.nav-bar {

}

.nav-links a {
    margin-bottom: 10px;

}

.alert {
    height: 60px;
    margin-top: 30px;
}

footer {
    max-width: inherit;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: var(--red);
}

.errorlist {
    display: none;
}

.logo {

}

.span-logo1 {
    font-family: 'Black Ops One', cursive;
    font-size: 2em;
    color: var(--red);
    letter-spacing: -7px;

}

.span-logo2 {
    font-family: 'Ephesis', cursive;
    font-size: 1em;
    margin-left: -4px;
}

.main {
    max-width: 900px;
    margin: 20px auto;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}