body {
    max-width: 1250px;
    margin: 40px auto;
}

.nav-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    margin-right: 20px;

}

.alert {
    height: 60px;
    margin-top: 30px;
}

footer a {
    text-decoration: none;
    color: black;
}

.errorlist {
    display: none;
}