{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/show_rooms.css' %}">

{% endblock head %}

{% block content %}

{% if offices %}
<h4 class="main-h2">List of Rooms available: </h4>

<div class="rooms-container">
    {% for office in offices %}


    <div class="room">
        <div>
            <p class="room-name"><span>{{office.room_name}}</span></p>
        </div>
        <div class="room-pic">
            {% if office.image %}
            <img src="{{ office.image.url }}" alt="office pic">

            {% else %}
            <a href="" data-bs-toggle="modal" data-bs-target="#upload_photo_model">No picture available, press to
                upload.</a>
            <div id="upload_photo_model" class="modal" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            {% endif %}
        </div>

        <div class="room-details">

            <p>Room Capacity: {{ office.room_capacity }}</p>
            <p>Projector: {% if office.projector_available is False %}
                Not
                {% endif %}
                Available</p>
        </div>
        <div class="room-links">
            <a class="bttn-book" href="{% url 'book-room' pk=office.id %}">Bookings</a>
            <!--            <div class="div-edit-del">-->
            <!--                <a class="edit-btn" href="{% url 'edit-room' pk=office.id %}">Edit</a>-->
            <!--                <a class="delete-btn" methods="POST" href="{% url 'delete-room' pk=office.id %}">Delete</a>-->
            <!--            </div>-->

        </div>
    </div>
    {% endfor %}
</div>


{% endif %}

{% endblock content %}