{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/show_rooms.css' %}">

{% endblock head %}

{% block content %}

{% if offices %}
<h4 class="room-h2">List of Rooms available: </h4>

<div class="rooms-container">
    {% for office in offices %}
    <div class="room">
        <div class="room-details">
            <p>Room Name: <span class="room-name">{{office.room_name}}</span></p>
            <p>Room Capacity: {{ office.room_capacity }}</p>
            <p>Projector: {% if office.projector_available is False %}
                Not
                {% endif %}
                Available</p>
        </div>
        <div class="room-links">
            <a class="bttn-book" href="{% url 'book-room' pk=office.id %}">Bookings</a>
            <div class="div-edit-del">
                <a class="edit-btn" href="{% url 'edit-room' pk=office.id %}">Edit</a>
                <a class="delete-btn" methods="POST" href="{% url 'delete-room' pk=office.id %}">Delete</a>
            </div>

        </div>
    </div>
    {% endfor %}
</div>


{% endif %}

{% endblock content %}